/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&family=Poppins:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* variables CSS */
:root{
    --header-height: 3rem;

    /* Colors */
        /* Teal and orange colors */
        --teal-color: #6575a2;
        --orange-color: #3586ff;
    
        /* Background and button colors */
        --background-color-light: #f0f0f0; /* Light background */
        --background-color-dark: #a0bded; /* Dark background */
        --button-color-light: var(--orange-color); /* Button color for light mode */
        --button-color-dark: var(--teal-color); /* Button color for dark mode */
    
    /* change favourite color */
    --hue-color: 233; /*purple 250 - green 142 - blue 230 - pink340 */

    /* HSL color mode */
    --first-color: var(--teal-color);
    --first-color-second: var(--teal-color);
    --first-color-alt: var(--orange-color);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    
    /* =============== font and typo ============== */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2 rem;
    --h1-font-size: 1.5 rem;
    --h2-font-size: 1.25 rem;
    --h3-font-size: 1.125 rem;
    --normal-font-size: .938 rem;
    --small-font-size: .813 rem;
    --smaller-font-size: .75 rem;

    /* font weight */
    --font-medium:  500;
    --font-semi-bold:  600; 

    /* margins bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-model: 1000;
}
@media screen and (min-width: 968px) {
    :root {
        --big-font-size:3rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size: .875rem;
        --smaller-font-size:.813rem;

    }
}
/* ========== variable dark theme ========== */
body.dark-theme{
    /* HSL color mode */
    --first-color-second: var(--background-color-dark);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}
/* =========== Button Dark/Light ============= */
.nav_btns{
    display: flex;
    align-items: center;
}
.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}
.change-theme:hover{
    color: var(--first-color);
}
/* ================== base =================== */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;

}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.section{
    padding: 2rem 0 4rem;
}
.section_title{
    font-size: var(--h1-font-size);
}
.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}
.section_title,.section_subtitle{
    text-align: center;
}


.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background-color: var(--body-color);
}

/* ================= Nav ============= */
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo, .nav_toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav_logo:hover{
    color: var(--first-color);
}
.nav_toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.nav_toggle:hover{
    color: var(--first-color);
}

/* fixing the nav bar */
@media screen and (max-width: 767px){
    .nav_menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgb(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav_list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav_link:hover{
    color: var(--first-color);
}
.nav_icon{
    font-size: 1.2rem;
}
.nav_close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}
.nav_close:hover{
    color: var(--first-color-alt);
}

/* show menu */
.show-menu{
    bottom: 0;
}
/* close menu */
.hide-menu{
    bottom: -125px;
}
/* ====== home ========= */
.home_container{
    gap: 1rem;
}
.home_content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}
.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home_social-icon{
    font-size: 1.8rem;
    color: var(--first-color);
}
.home_social-icon:hover{
    color: var(--first-color-alt);
}
.home_blob{
    width: 200px;
    fill: var(--first-color);
}
.home_blob-img{
    width: 220px;
    fill: var(--first-color);
}
.home_data{
    grid-column: 1/3;
}
.home_title{
    font-size: var(--big-font-size);
}
.home_subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.home_description{
    margin-bottom: var(--mb-2);
}
.home_scroll{
    display: none;
}
.home_scroll-button{
    color: var(--first-color);
    transition: .3s;
}
.home_scroll-button:hover{
    transform: translateY(.25rem);
}
.home_scroll-mouse{
    font-size: 2rem;
}
.home_scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}
.home_scroll-arrow{
    font-size: 1.25rem;
}
/* ===================== buttons ======================= */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}
.button:hover{
    background-color: var(--first-color-alt);
}
.button_icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}
.button--white{
    background-color: #fff;
    color: var(--first-color);
}
.button--white:hover{
    background-color: #fff;
}
.button--flex{
    display: inline-block;
    align-items: center;
}
.button--small{
    padding: .75rem;
}
/* ============= about =============== */
.about_img{
    width: 400px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
    border-color: var(--first-color);
}
.about_description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}
.about_info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}
.about_info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.about_info-name{
    font-size: var(--smaller-font-size);
}
.about_info-title,
.about_info-name{
    display: block;
    text-align: center;
}
.about_buttons{
    display: flex;
    justify-content: center;
}
.skills_container{
    row-gap: 0;
}
.skills_header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}
.skills_icon,
.skills_arrow{
    font-size: 3.5rem;
    color: var(--first-color);
}
.skills_icon{
    margin-right: var(--mb-0-75);
}
.skills_title{
    font-size: var(--small-font-size);
}
.skills_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.skills_arrow{
    margin-left: auto;
    transition: .4s;
}
.skills_list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}
.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}
.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}
.skills_bar{
    background-color: var(--first-color-lighter);
}
.skills_percentage{
    display: block;
    background-color: var(--first-color);
}
.skills_html{
    width: 100%;
}
.skills_css{
    width: 85%;
}
.skills_js{
    width: 80%;
}
.skills_drupal{
    width: 90%;
}
.skills_bootstrap{
    width: 85%;
}
.skills_photoshop{
    width: 70%;
}
.skills_illustrator{
    width: 65%;
}
.skills_premier{
    width: 70%;
}
.skills_office{
    width: 90%;
}
.skills_helpdesk{
    width: 60%;
}
.skills_hardware{
    width: 90%;
}
.skills_close .skills_list{
    height: 0;
    overflow: hidden;
}
.skills_open .skills_list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}
.skills_open .skills_arrow{
    transform: rotate(-180deg);
}
/* ========== education ========== */
.education_tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}
.education_button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}
.education_button:hover{
    color: var(--first-color);
}
.education_icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);    
}
.education_data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
.education_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.educationsubtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}
.education_calender{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}
.education_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}
.education_line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}
.education [data-content]{
    display: none;
}
.education_active[data-content]{
    display: block;
}
.choose{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--h3-font-size);
    color: var(--h1-font-size);
}
.education_button.education_active{
    color: var(--first-color);
}
.portfolio_container{
    overflow: initial;
}
.portfolio_content{
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Add shadow */
    background-color: var(--background-color-light); /* Add background color */
}
.portfolio_img{
    width: 100%; /* Ensure image fills container */
    border-radius: 0.5rem; /* Add border radius */
}

.portfolio_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: black;
}
.portfolio_description {
    margin-bottom: 1rem;
    color: grey;
}
.portfolio_button {
    padding: 0.75rem 1.5rem; /* Adjust button padding */
    border-radius: 0.5rem;
    background-color: var(--button-color-dark); /* Green color */
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}
.portfolio_button:hover .button_icon{
    transform: translateX(.25rem);
}

/* ================ contact page ================== */
.project{
    text-align: center;
}
.project_bg{
    background-color: var(--first-color-second);
    padding-top: 3rem;
}
.project_title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}
.project_description{
    margin-bottom: var(--mb-1-5);
}
.project_title,
.project_description{
    color: #fff;
}
.project_img{
    width: 300px;
    justify-self: center;
}
/* ================ contact me page (inputs) =============== */
.contactme_container{
    row-gap: 3rem;
}
.contactme_information{
    display: flex;
    margin-bottom: var(--mb-2);
}
.contactme_icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}
.contactme_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
.contactme_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.contactme_content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}
.contactme_label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}
.contactme_input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}


.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    margin-top: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 7s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
/* home link */
.active-link{
    color: var(--first-color);
}
/* header */
.scroll-header{
    box-shadow: 0 -1px 4px rgb(0, 0, 0, .15);
}

/* =========== scrolup arrow button ========== */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}
.scrollup:hover{
    background-color: var(--first-color-alt);
}
.scrollup_icon{
    font-size: 1.5rem;
    color: #fff;
}
/* ======= show scroll up ========== */
.show-scroll{
    bottom: 5rem;
}

/* ============== scrol bar ============== */
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}


/* ============== Media Queries ================= */

/* = for small devices = */
@media screen and (max-width: 568px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav_menu{
        padding: 2rem .25rem 4rem;
    }
    .nav_list{
        column-gap: 0;
    }
    .home_content{
        grid-template-columns: .25fr 3fr;
    }
    .home_blob{
        width: 180px;
    }
    .skills_title{
        font-size: var(--normal-font-size);
    }
    .education_data{
        gap: .5rem;
    }
    .project_img{
        width: 260px;
    }
    .about_img{
        width: 250px;
    }
    .contactme_form{
        width: 250px;
    }
}

/* = for meduim devices = */
@media screen and (min-width: 568px) {
    .home_content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home_data{
        grid-column: initial;
    }
    .home_img{
        order:1;
        justify-self: center;
    }
    .about_container,
    .skills_container,
    .project_container,
    .contactme_container,
    .footer_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .education_sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding: 6rem 0 2rem;
    }
    .section_subtitle{
        margin-bottom: 4rem;
    }
    .header{
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer_container{
        padding: 0 1rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav_icon,
    .nav_close,
    .nav_toggle{
        display: none;
    }
    .nav_list{
        display: flex;
        column-gap: 2rem;
    }
    .nav_menu{
        margin-left: auto;
    }
    .change-theme{
        margin: 0;
    }
    .home_container{
        row-gap: 5rem;
    }
    .home_content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home_blob{
        width: 270px;
    }
    .home_scroll{
        display: block;
    }
    .home_scroll-button{
        margin-left: 3rem;
    }
    .about_container{
        column-gap: 5rem;
    }
    .about_img{
        width: 350px;
    }
    .about_description{
        text-align: initial;
    }
    .about_info{
        justify-content: space-between;
    }
    .about_buttons{
        justify-content: initial;
    }
    .education_tabs{
        justify-content: center;
    }
    .education_button{
        margin: 0 var(--mb-1);
    }
    .education_sections{
        grid-template-columns: .5fr;
    }
    .portfolio_img{
        width: auto;
    }
    .portfolio_content{
        align-items: center;
    }
    .project{
        text-align: initial;
    }
    .project_img{
        width: 350px;
    }
    .project_bg{
        background: none;
    }
    .project_container{
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }
    .project_data{
        padding-top: .8rem;
    }
    .footer_bg{
        padding: 3rem 0 3.5rem;
    }
}

/* = for large devices = */
@media screen and (min-width:1024px){
    .header,
    .main,
    .footer_container{
        padding: 0;
    }
    .home_blob{
        width: 320px;
    }
    .home_social{
        transform: translateX(-6rem);
    }
    .portfolio_content{
        column-gap: 5rem;
    }
    .contactme_form{
        width: 500px;
    }
    .contactme_inputs{
        grid-template-columns: repeat(2, 1fr);
    }
  
}